@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

*{
color: #000;
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body{
font-family: Arial, sans-serif;
font-weight: bold;
}
/* logo start */
.container {
display: flex;
justify-content: space-between;
background-color: #7cd902;
width: 100%;
height: 60px;

}
.logo {
display: block;
margin-left: 80px;
/*margin-bottom: -50px;*/

}
img {
background-color: #fff;
padding: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
/* logo end */

/* school name start */
.school_container {
display: flex;
}
.school-nav {
margin-left: 12px;
}
.school-name-nav {
font-size: 28px;
}
.school-name-nav2 {
font-size: 20px;
}
/* school name end */


/* search start */
.search {
display: flex;
align-items: center;
margin-right: 30px;
}

.search-container {
display: flex;
background: #fff;
border-radius: 6px;
padding: 5px;
}

.search-container input[type="text"] {
border: none;
outline: none;
flex-grow: 1;
padding: 0 10px;
}

.search-container button {
border: none;
cursor: pointer;
padding: 5px 10px;
}

.search-container i {
color: #dcdada; 
}
/* search end */

/* nav start */
nav {
background-color: #4A8100;
height: 150px;
width: 100%;
}
nav ul {
float: right;
margin-right: 20px;
}
nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a {
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
position: relative;
transition: 0.5s;
}
nav ul li a::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0; 
height: 2px; 
background: #fff; 
transition: width 0.5s; 
}
nav ul li a:hover::before {
width: 100%; 
}
nav ul li a:hover {
background: none;
}
/* nav end   */

/* check start */
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
/* check end */

/* home start */
section {
    position: relative;
}

.home-background {
    width: 100%; 
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 35% 100%, 50% 50%);
    margin: 0px;
    padding: 0px;
}

.info {
    margin-top: 16%;
    padding: 20px;
    max-width: 80%;
    position: absolute;
    z-index: 1; 
}

.info p {
color: #000;
font-family: Krona One;
font-size: 32px;
font-style: normal;
font-weight: 400;
margin: 10px 0;
}

.info p:first-child {
color: #000;
font-family: Krona One;
font-size: 32px;
font-style: normal;
font-weight: 400;
}

.info p:nth-child(2) {
color: #69B800;
font-family: Black Ops One;
font-size: 85px;
font-style: normal;
font-weight: 400;
letter-spacing: 4.25px;
}

.info p:nth-child(3) {
width: 50%;
}

.info p:nth-child(4) {
color: #000;
text-align: justify;
font-family: Arimo;
font-size: 20px;
font-style: italic;
font-weight: 400;
width: 60%;
}
.line::after {
content: "";
display: block;
border-top: 3px solid black;
margin-top: 5px;
}

.button_div {
display: flex;
justify-content: space-around;
margin: 20px 0;
}

.info button {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 30%;
flex-shrink: 0;
border-radius: 10px;
}

.button_div {
display: flex;
width: 40%;
justify-content: space-between;
}

.info button:first-child {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 55px;
flex-shrink: 0;
border-radius: 10px;
background: #579504;
}

.info button:nth-child(2) {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 55px;
flex-shrink: 0;
border-radius: 10px;
background: #CC1717;
}
/* home end */

/* contact start */


/* KYLE*/

#about{
    background-image: url(./img/about.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    
    padding: 0%;
    padding-top: 0%;
}


.white-column {
    background-color: white;
    width: 21.1vw;
    height: 100vh; /* 100% of the viewport height */
align-items: center;

}
.navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation li {
    margin: 68px 0;
}

.navigation a {
    text-decoration: none;
    color: #659e19; /* Set the color you prefer */
    display: block;
    padding: 10px 20px;
    background-color: #FFFFFF; /* Set the button background color */
    border-radius: 5px;
}

.content {
    flex: 1;
    padding: 20px;
}


/* KYLE */

/* experimental pa lang */

#contact{
    background-image: url(./img/contact-page-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
}

/* .contact-info {
    flex-wrap: nowrap;
} */

.contact-title {
    color: #396400;
    margin-top: 25px;
    margin-left: 70px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 0.2em;
    font-size: 37px;
}

.contact-card {
    display: flex;
    padding: 4%;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
    border-radius: 6px;
    background-color:#7CB530E8;
}

.do-container {
    padding-left: 20%;
}

.contact-card p {
    color: #fff;
    font-size: 22px;
    line-height: 45px;
}

.map {
    position: relative;
}

iframe {
    border-radius: 4px;
    border-color:#B1E66B;
}

.messenger {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}
.messenger-img {
    
    transition: background-color 0.3s;
    background-color: transparent;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.messenger-img:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
}

.map {
    border-radius: 10px;
    float: right;
}

/* contact end */

/* program start */
.program-container {
    display: flex;
    flex-direction: column;
}
.program-text-container {
    background-image: url(./img/section-program.png);
    height: 25vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-size: x-large;
}
.program-text-container, h1 {
    color: #fff;
    font-style: italic;
    font-family: Arimo;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.program-container2 {
    display: flex;
    flex-direction: column;
    
}
.program-container2, h2 {
    color: #579504;
    text-decoration: underline;
    padding: 2%;
    padding-left: 8%;
    font-size: 38px;
    display: flex;
    width: 50%;
}

.slider-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-container {
    display: flex;
    transition: transform 0.3s;
}

.box {
    background-color: #fff;
    width: 250px;
    height: 250px;
    border: 12px solid #8bd926;
    border-radius: 4%;
    margin-right: 40px;
    transition: transform 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3e6b04;
    text-align: center;
}

p {
    color: #3e6b04;
}
li {
    color: #3e6b04;
}

.course {
    padding-bottom: 20px;
}
.course-info {
    font-size: 8px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: justify;
    line-height: 16px;
}
.box:hover .course {
    display: none;
}

.box:last-child {
    margin-right: 0;
}

.controls {
    display: flex;
    align-items: center;
    top: 90%;
    margin-left: 80px;
    margin-right: 80px;
}

.control-button {
    color: #579504;
    cursor: pointer;
    font-size: 120px;
    background: transparent;
    border: 1px solid transparent;
}

.control-button:hover {
    color: #3c6703;
}
/* program end */


/* Media query for mobile and tablet screens */
@media (max-width: 1023px) {    
.logo {
display: none;
}
.container {
    justify-content: space-between;
}
.home-background {
    height: 90vh;
}

.school-name-nav {
font-size: 24px;
}
.school-name-nav2 {
font-size: 18px;
}

.school-name {
    font-size: 25px;
}
.school-name2 {
    font-size: 18px;
}
.info {
    margin-top: 10%; 
}

.info p {
    font-size: 20px;
}

.info p:nth-child(2) {
    font-size: 40px;
}

.info p:nth-child(4) {
    font-size: 16px;
}

/* contact page */
.contact-card {
    flex-direction: column;
}
.do-container {
    padding-left: 0%;
}
.contact-card p {
    color: #fff;
    font-size: 14px;
    line-height: 45px;
}
.messenger-img {
    height: 70px;
    width: 70px;
}

}

@media (max-width: 858px){
#home {
    display: flex;
    justify-content: center; 
}   
.info p:nth-child(3) {
    width: 100%;
}
.info p:nth-child(4) {
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.button_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-container input[type="text"] {
    display: none;
}
.checkbtn{
display: block;
}
.school-nav {
margin-top: 6px;
}
.school-name-nav {
font-size: 18px;
}
.school-name-nav2 {
font-size: 16px;
}
.school-name {
font-size: 16px;
}
.school-name2 {
    font-size: 12px;
}
ul{
z-index: 2;
position: fixed;
width: 100%;
height: 100vh;
background: #4A8100;
top: 130px;
left: -100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}
nav ul li a{
font-size: 20px;
}
.button_div:first-child, a {
    margin: 0px;
    font-size: small;
}
a:hover,a.active{
background: none;
color: #fff;    
}
#check:checked ~ ul{
left: 0;
}
}   

/* linkage start */
/* Denver G. Cadungog */
.linkage-container{
    background-image: url(/EPCSTWebsite/EPCST/img/contact-page-background.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linkages{
    text-decoration: underline;
    text-align: justify;
    font-size: 40px;
    padding-top: 30px;
    margin-left: 30px;
    color: #3e6b04;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-partners{
    text-align: justify;
    font-size: 30px;
    color: #3e6b04;
    margin-bottom: 10px;

}
.descriptions{
    text-align: justify;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.secondary-partners{
    text-align: justify;
    font-size: 30px;
    color: #3e6b04;
    margin-bottom: 10px;
    margin-top: 40px;
}
.dashboard{
    background-color:rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb (0, 0, 0 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);
   
    color: #000
}
.primary-dashboard{
    background-color: #579504;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);  
}
.address, .university, .contact-details {
    display: inline-block;
    color: white;
}
.address{
    margin-left: 20px;
}
.university, .contact-details{
    margin-left: 600px;
}
.primary-dashboard2{
    background-color: #ffffff;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);
}
.address2, .university2, .contact-details2 {
    display: inline-block;
}
.address2{
    margin-left: 10px;
}
.university2, .contact-details2{
    margin-left: 500px;
}
.icon{
    display: inline-block;
    width: 50px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .linkage-container {
        height: auto; /* Adjust height as needed for smaller screens */
    }

    .linkages {
        font-size: 30px;
        margin-left: 10px;
    }

    /* Adjust other styles as needed for smaller screens */
    .university, .contact-details {
        margin-left: 10px;
    }

    .university2, .contact-details2 {
        margin-left: 300px; /* Adjust as needed */
    }
}