@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

*{
color: #000;
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body{
font-family: Arial, sans-serif;
font-weight: bold;
}
/* logo start */
.container {
display: flex;
justify-content: space-between;
background-color: #7cd902;
width: 100%;
height: 60px;

}
.logo {
display: block;
margin-left: 80px;
/*margin-bottom: -50px;*/

}
img {
background-color: #fff;
padding: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
/* logo end */

/* school name start */
.school_container {
display: flex;
}
.school-nav {
margin-left: 12px;
}
.school-name-nav {
font-size: 28px;
}
.school-name-nav2 {
font-size: 20px;
}
/* school name end */


/* search start */
.search {
display: flex;
align-items: center;
margin-right: 30px;

}

.search-container {
display: flex;
background: #fff;
border-radius: 6px;
padding: 5px;
margin-right: 12px;
}

.search-container input[type="text"] {
border: none;
outline: none;
flex-grow: 1;
padding: 0 10px;
}

.search-container button {
border: none;
cursor: pointer;
padding: 5px 10px;
}

.search-container i {
color: #dcdada; 
}
/* search end */

/* nav start */
nav {
background-color: #4A8100;
height: 150px;
width: 100%;
}
nav ul {
float: right;
margin-right: 20px;
}
nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a {
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
position: relative;
transition: 0.5s;
}
nav ul li a::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0; 
height: 2px; 
background: #fff; 
transition: width 0.5s; 
}
nav ul li a:hover::before {
width: 100%; 
}
nav ul li a:hover {
background: none;
}
/* nav end   */

/* check start */
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
/* check end */

/* home start */
section {
    position: relative;
}

.home-background {
    width: 100%; 
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 35% 100%, 50% 50%);
    margin: 0px;
    padding: 0px;
}

.info {
    margin-top: 16%;
    padding: 20px;
    max-width: 80%;
    position: absolute;
    z-index: 1; 
}

.info p {
color: #000;
font-family: Krona One;
font-size: 32px;
font-style: normal;
font-weight: 400;
margin: 10px 0;
}

.info p:first-child {
color: #000;
font-family: Krona One;
font-size: 32px;
font-style: normal;
font-weight: 400;
}

.info p:nth-child(2) {
color: #69B800;
font-family: Black Ops One;
font-size: 85px;
font-style: normal;
font-weight: 400;
letter-spacing: 4.25px;
}

.info p:nth-child(3) {
width: 50%;
}

.info p:nth-child(4) {
color: #000;
text-align: justify;
font-family: Arimo;
font-size: 20px;
font-style: italic;
font-weight: 400;
width: 60%;
}
.line::after {
content: "";
display: block;
border-top: 3px solid black;
margin-top: 5px;
}

.button_div {
display: flex;
justify-content: space-around;
margin: 20px 0;
}

.info button {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 30%;
flex-shrink: 0;
border-radius: 10px;
}

.button_div {
display: flex;
width: 40%;
justify-content: space-between;
}

.info button:first-child {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 55px;
flex-shrink: 0;
border-radius: 10px;
background: #579504;
}

.info button:nth-child(2) {
border: none;
font-size: large;
font-family: Arimo;
width: 45%;
height: 55px;
flex-shrink: 0;
border-radius: 10px;
background: #CC1717;
}
/* home end */

/* contact start */


/* KYLE*/

#about{
    background-image: url(./img/about.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    
    padding: 0%;
    padding-top: 0%;
}


.white-column {
    background-color: white;
    width: 21.1vw;
    height: 100vh; /* 100% of the viewport height */
align-items: center;

}
.navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation li {
    margin: 68px 0;
}

.navigation a {
    text-decoration: none;
    color: #659e19; /* Set the color you prefer */
    display: block;
    padding: 10px 20px;
    background-color: #FFFFFF; /* Set the button background color */
    border-radius: 5px;
}

.content {
    flex: 1;
    padding: 20px;
}


/* KYLE */

/* experimental pa lang */

#contact{
    background-image: url(./img/contact-page-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
}

/* .contact-info {
    flex-wrap: nowrap;
} */

.contact-title {
    color: #396400;
    margin-top: 25px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 0.2em;
    font-size: 37px;
}

.contact-card {
    display: flex;
    padding: 4%;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
    border-radius: 6px;
    background-color:#7CB530E8;
}

.do-container {
    padding-left: 20%;
}

.contact-card p {
    color: #fff;
    font-size: 22px;
    line-height: 45px;
}

.map {
    position: relative;
}

iframe {
    border-radius: 4px;
    border-color:#B1E66B;
}

.messenger {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}
.messenger-img {
    
    transition: background-color 0.3s;
    background-color: transparent;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.messenger-img:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
}

.map {
    border-radius: 10px;
    float: right;
}

/* contact end */

/* program start */
.program-container {
    display: flex;
    flex-direction: column;
}
.program-text-container {
    background-image: url(./img/section-program.png);
    height: 25vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-size: x-large;
}
.program-text-container, h1 {
    color: #fff;
    font-style: italic;
    font-family: Arimo;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.program-container2 {
    display: flex;
    flex-direction: column;
    
}
.program-container2, h2 {
    color: #579504;
    text-decoration: underline;
    padding: 2%;
    padding-left: 8%;
    font-size: 38px;
    display: flex;
    width: 50%;
}

.slider-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-container {
    display: flex;
    transition: transform 0.3s;
}

.box {
    background-color: #fff;
    width: 250px;
    height: 250px;
    border: 12px solid #8bd926;
    border-radius: 4%;
    margin-right: 40px;
    transition: transform 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3e6b04;
    text-align: center;
}

.box p {
    color: #3e6b04;
}

li {
    color: #3e6b04;
}

.course {
    padding-bottom: 20px;
}
.course-info {
    font-size: 8px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: justify;
    line-height: 16px;
}
.box:hover .course {
    display: none;
}

.box:last-child {
    margin-right: 0;
}

.controls {
    display: flex;
    align-items: center;
    top: 90%;
    margin-left: 80px;
    margin-right: 80px;
}

.control-button {
    color: #579504;
    cursor: pointer;
    font-size: 120px;
    background: transparent;
    border: 1px solid transparent;
}

.control-button:hover {
    color: #3c6703;
}
/* program end */


/* linkage start */




/* linkage end */

/* start of landing page */
.top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color:#7cd902;
}
.top-head h1 {
    font-size: x-large;
}
.gs-button button {
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px; 
    background-color: #028c02; 
    color: #fff; 
    border: none; 
    cursor: pointer;
}

.gs-button button:hover {
    background-color: #006b00;
}

.land-bg {
    background-image: url('/img/landing-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.landing-content {
    font-size: x-large;
    text-align: center;
    max-width: 600px; /* Adjust as needed */
}
.landing-content h1 {
    margin-bottom: 20px;
}
.landing-content p {
    padding-bottom: 20px;
    color: #fff; 
}
.landing-content button {
    padding-top: 10px;
    font-weight: bolder;
}

.landing-logo {
    margin-top: 80px;
    width: 200px; /* Adjust the logo size as needed */
    background:none;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #006400; /* Dark green color */
    color: #fff; /* Text color (white) */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d00; /* Darker green color on hover */
}

/* end of landing page */


/* admission start */
#admission {
    position: relative;
    overflow: hidden;
}

.admission-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/DSC_0035.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.admission-bg-c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: greenyellow;
    z-index: -1;
}

.admission-info {
    text-align: center;
    padding: 80px;
    font-size: x-large;
    z-index: 1;
    position: relative;
}

.admission-info h1 {
    margin-bottom: 20px;
}
.admission-info p {
    color: rgb(255, 255, 255);
}
/* tab */
.admission-word {
    color: green;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: underline;
    padding-left: 10%;
}


.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  .tabs {
    position: relative;
    margin: 3rem 0;
    background: #dcdbdb;
    height: 14.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #b1b1b1;
    border-right: 0.125rem solid #dcdbdb;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #e2e6e8;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }

/* admission end */

/* news and events start */
.ne-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ne-words {
    color: green;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: underline;
    padding-top: 3%;
}
.f-div {
    border-radius: 25px;
    border: 2px solid #73AD21;
    width: 80%;
    height: 100%;  
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.f-div h1 {
    color: greenyellow;
    padding-top: 4%;
}
.f-div h3 {
    text-align: left;
    padding-left: 8px;
    padding-top: 12px;
}
.f-div p {
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    color: rgb(158, 158, 158);
}
.ne-course-details {
    display: flex;
    justify-content: space-between;
    
}
.ne-course-details ul li {
    color: rgb(86, 86, 86);
    text-align: left;
    padding-left: 16px;
}
.ne-readme {
    display: flex;
    color: rgb(86, 86, 86);
    text-align: right;
    padding-right: 6px;
    bottom: 0;
}
.f-div-2 {
    width: 70%;
    height: 100%;  
    justify-content: center;
}
.f-div-img {
    display: flex;
    justify-content: space-between;
}

.f-div-2-c {
    border-radius: 25px;
    border: 0.5px solid #2f2f2f;
    width: 30%;
    height: 100%;  
    justify-content: center;
    margin-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}
.f-div-2-c p {
    padding: 12px;
    font-size: 12px;
    text-align: justify;
}
.f-div-2-c a {
    font-size: 10px;
    color: rgb(72, 72, 243);
    text-decoration: underline;
}
/* news and events end */


/* Media query for mobile and tablet screens */
@media (max-width: 1023px) {    
.logo {
display: none;
}
.container {
    justify-content: space-between;
}
.home-background {
    height: 90vh;
}

.school-name-nav {
font-size: 24px;
}
.school-name-nav2 {
font-size: 18px;
}

.school-name {
    font-size: 25px;
}
.school-name2 {
    font-size: 18px;
}
.info {
    margin-top: 10%; 
}

.info p {
    font-size: 20px;
}

.info p:nth-child(2) {
    font-size: 40px;
}

.info p:nth-child(4) {
    font-size: 16px;
}

/* contact page */
.contact-card {
    flex-direction: column;
}
.do-container {
    padding-left: 0%;
}
.contact-card p {
    color: #fff;
    font-size: 14px;
    line-height: 45px;
}
.messenger-img {
    height: 70px;
    width: 70px;
}

}

@media (max-width: 858px){
#home {
    display: flex;
    justify-content: center; 
}   
.info p:nth-child(3) {
    width: 100%;
}
.info p:nth-child(4) {
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.button_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-container input[type="text"] {
    display: none;
}
.checkbtn{
display: block;
}
.school-nav {
margin-top: 6px;
}
.school-name-nav {
font-size: 18px;
}
.school-name-nav2 {
font-size: 16px;
}
.school-name {
font-size: 16px;
}
.school-name2 {
    font-size: 12px;
}
ul{
z-index: 2;
position: fixed;
width: 100%;
height: 100vh;
background: #4A8100;
top: 130px;
left: -100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}
nav ul li a{
font-size: 20px;
}
.button_div:first-child, a {
    margin: 0px;
    font-size: small;
}
a:hover,a.active{
background: none;
color: #fff;    
}
#check:checked ~ ul{
left: 0;
}
}   

/* linkage start */
/* Denver G. Cadungog */
.linkage-container{
    background-image: url(/img/contact-page-background.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linkages{
    text-decoration: underline;
    text-align: justify;
    font-size: 40px;
    padding-top: 30px;
    margin-left: 30px;
    color: #3e6b04;
    font-family: Arial, Helvetica, sans-serif;
}
.primary-partners{
    text-align: justify;
    font-size: 30px;
    color: #3e6b04;
    margin-bottom: 10px;

}
.descriptions{
    text-align: justify;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.secondary-partners{
    text-align: justify;
    font-size: 30px;
    color: #3e6b04;
    margin-bottom: 10px;
    margin-top: 40px;
}
.dashboard{
    background-color:rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb (0, 0, 0 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);
   
    color: #000
}
.primary-dashboard{
    background-color: #579504;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);  
}
.address, .university, .contact-details {
    display: inline-block;
    color: white;
}
.address{
    margin-left: 20px;
}
.university, .contact-details{
    margin-left: 600px;
}
.primary-dashboard2{
    background-color: #ffffff;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 8px;
    flex: 1 0 calc(33.33% - 30px);
}
.address2, .university2, .contact-details2 {
    display: inline-block;
}
.address2{
    margin-left: 10px;
}
.university2, .contact-details2{
    margin-left: 500px;
}
.icon{
    display: inline-block;
    width: 50px;
    height: auto;
}
/* end of linkage */


@media only screen and (max-width: 768px) {
    .linkage-container {
        height: auto; /* Adjust height as needed for smaller screens */
    }

    .linkages {
        font-size: 30px;
        margin-left: 10px;
    }

    /* Adjust other styles as needed for smaller screens */
    .university, .contact-details {
        margin-left: 10px;
    }

    .university2, .contact-details2 {
        margin-left: 300px; /* Adjust as needed */
    }
}

/* calendar */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}


/* login button */
/* CSS */
.login {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.login a {
  color: #fff;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}